<app-header title="Login"></app-header>

<ion-content class="login-background">
  <div class="d-flex-center">
    <form [formGroup]="loginForm" class="auth-form" (ngSubmit)="doLogin()">
      <app-logo></app-logo>

      <!-- Campo de email -->
      <app-input
        [control]="email"
        autocomplete="email"
        icon="mail-outline"
        type="email"
        label="Email"
        class="casilla"
      ></app-input>

      <!-- Campo de contraseña -->
      <app-input
        [control]="password"
        icon="lock-closed-outline"
        type="password"
        label="Password"
      ></app-input>

      <!-- Botón de inicio de sesión -->
      <app-button
        type="submit"
        [disabled]="loginForm.invalid"
        value="Login"
      ></app-button>

      <!-- Botón de registro -->
      <ion-button
        [routerLink]="['/signup']"
        class="register"
        expand="block"
        mode="ios"
        fill="outline"
      >
        Register
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
